<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= lugar %></title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header><h1><%= nombre %></h1></header>
    <nav>
        <ul> <!-- Esto provoca un error = < % -->
            <% travels.forEach( travel => { %>
                <li><a href="<%= travel.ruta %>"><%= travel.lugar %></a></li>
            <% }) %>
        </ul>
    </nav>
    <main>
      <p><%= descripcion %></p>
      <p><%= precio %></p>
      <img src="<%= img %>" alt="<%= lugar %>" />
    </main>
  </body>
</html>
